<% if @shows.empty? %>
    <h5>Unfortunately...</h5>
    <p>No upcoming shows at this point in time.</p>
<% else %>
    <table id="shows">
      <% @shows.each do |show| %>
          <tr>
            <td><%= show.date.strftime('%B %d') %></td>
            <td><%= show.location %></td>
            <td><%= show.venue %></td>
            <td>
              <%= link_to "details", "#", class: "button radius tiny showinfo", :id => "showinfo-#{show.id}" %>
              <% if current_user %>
                  <br/>
                  <%= link_to "edit", edit_show_path(show), class: "button tiny secondary radius", data: {"reveal-id" => "show-edit", "reveal-ajax" => true} %>
              <% end %>
            </td>
          </tr>
          <tr style="display:none" class="info-row" id="<%= "modal-showinfo-#{show.id}" %>">
            <td colspan="3">
              <%= simple_format show.info %>

            </td>
            <td colspan="1">
              <%= link_to "tickets", show.link, class: "button radius" %>
              <a class="close">&#215;</a>
            </td>
          </tr>
      <% end %>
    </table>
<% end %>
