<div>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div>
  <%= simple_form_for @show do |f| %>
    <div class="input date required large-12 column">
      <%= f.label :date %>
      <%= f.date_field :date, required: true %>
    </div>
    <%= f.input :venue %>
    <%= f.input :location %>
    <%= f.input :info, input_html: { rows: 6 } %>
    <%= f.input :link %>
    <%= f.button :submit, class: "button small" %>
  <% end %>
</div>
