<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<meta name="description" content="The web home of the Shockenaw Mountain Boys.  Shockenaw tour dates, bios, photos, and news.  Welcome." />


  	<title>The Shockenaw Mountain Boys</title>

  	<%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Sancreek" %>
  	<%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="header">
      <div class="row">
        <header id="logo" class="large-12 columns">
          <h1><%= link_to "The Shockenaw Mountain Boys", root_path %></h1>
        </header>
      </div>
    </div>
    <div id="body">
      <div class="row">
        <%= notice %>
        <%= alert %>
      </div>
      <%= yield %>
    </div>
    <footer id="footer">
      <div id="footer-links">
        <%= link_to "Site by IBD", "http://www.ignoredbydinosaurs.com" %> 
        <% if current_user %>
          | <%= link_to "Add show", "#", data: { "reveal-id" => "show-edit", "reveal-ajax" => new_show_path } %>
          | <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          | <%= link_to "Login", new_user_session_path %>
        <% end %>
      </div>
    </footer>
    <%= javascript_include_tag "application" %>
    <%= yield :closing %>    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-8646459-10', 'shockenaw.com');
      ga('send', 'pageview');
    </script>
    <div id="show-edit" class="reveal-modal medium" style="display:none"></div>
  </body>
</html>
